
/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP **/
[data-hint]:after {
    font-size: 0.75em !important;
}


#signup-page .page--material__background {
    background-image: linear-gradient(0deg, rgba(255, 255, 255,0.3) 0%, rgba(255, 255, 255,0.3) 100%),
    url('images/hdpi_portrait.jpg');
    background-repeat: repeat, no-repeat;
    background-size: contain, cover;
}


/** STYLE FOR THE SIGNUP INPUT BEGINS **/
#signup-page #signup-password {
    color: #ffffff !important;
    caret-color: #ffffff;
}
#signup-page #signup-password input {
    font-size: 0.7em;
    height: 1.2em;
    line-height: 1.2em;
    color: #ffffff !important;
    caret-color: #ffffff;
}
#signup-page #signup-confirm-password {
    color: #ffffff !important;
    caret-color: #ffffff;
}
#signup-page #signup-confirm-password input {
    font-size: 0.7em;
    height: 1.2em;
    line-height: 1.2em;
    color: #ffffff !important;
    caret-color: #ffffff;
}


#toc-page .page--material__content {
    background-color: #ffffff;
}
#toc-page .page--material__background {
    background-color: #ffffff;
}

.toc-grid-sno-column {
    font-size: 1.15em !important;
}
.toc-grid-subject-column {
    font-size: 1.15em !important;
    text-transform: uppercase;
}
.toc-grid-agenda-column {
    font-size: 1.15em !important;
    text-transform: capitalize;
}
.toc-grid-attachments-filename-column {
    color: #00008b !important;
    font-size: 1.15em !important;
}
